<%= simple_form_for(@summary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :post_title %>
    <%= f.input :summary_entry %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
