<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @summary.post_title %>
</p>

<p>
  <strong>Summary entry:</strong>
  <%= @summary.summary_entry %>
</p>

<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
