<%if current_user %>
<h2>My Trophies</h2>
	<div class="scrollbar">
		<div class="handle" style="transform: translateZ(0px) translateX(0px); width: 190px;">
			<div class="mousearea"></div>
		</div>
	</div>

			<div class="excess">
				<% @books.each do |book| %>
				<div class="well" id="basic">
					<h4><%= book.book_title %></h4>
				    <h6><%= book.book_author %></h6>
				    <h6><%= book.page_amount %> pages</h6>
				    <h6><%= link_to 'Edit', edit_book_path(book) %> | <%= link_to 'Delete', book, method: :delete, data: {confirm: 'Are you sure?'} %></h6>
				</div>
				<% end %>
			</div>	


	<div class="controls center">
		<button class="btn prev disabled" disabled=""><i class="icon-chevron-left"></i> prev</button>
		<button class="btn next">next <i class="icon-chevron-right"></i></button>
		<div class="book-button">
		<%= link_to "Add Book", new_book_path, class: 'btn btn-info' %>
		</div>
	</div>


	


<% end %>


