<div class="jumbotron" id="user_header">
	<div class="container">
		<div class="row">
			<div class="col-md-2" id="profile-description">
				<div class="circle">
				<%= image_tag @user.image.url(:thumb) %>
				</div>
				<p><em><%= @user.bio %></em></p>
			</div>
			<div class="col-md-2">
				<h2><%= @user.username %></h2>
				<p>Favorite Book: <br><%= @user.favorite_book %></p>
			</div>
			<div class="col-md-4">
				<%= render "users/trackpages" %>
			</div>
			<div class="col-md-4">
				<%= render "users/view_goals" %>
			</div>
		</div>	
	</div>
</div>

<div class="container">
	<div class="wrap">
		<%= render "users/my_summaries" %>
	</div>
</div>

<div class="container">
	<div class="wrap">
		<%= render "users/trophycase" %>
	</div>
</div>






