<%= simple_form_for(@goal) do |f| %>
    <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this comment from being saved:</h2>
 
  <ul>
    <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
<<<<<<< HEAD
    <%= f.input :set_goal %>
=======
    <%= f.input :set_goal, :input_html => {:style => 'width: 250px'} %>
>>>>>>> 08b38067a5c9d9ee496ba07fb86177964d7a6431
   </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<<<<<<< HEAD
=======

>>>>>>> 08b38067a5c9d9ee496ba07fb86177964d7a6431
  <div class="hidden">
  <%= f.number_field :user_id, value: current_user.id %>
  </div>

<<<<<<< HEAD
<% end %>

      
=======
<% end %>
>>>>>>> 08b38067a5c9d9ee496ba07fb86177964d7a6431
