<div class="jumbotron" id="goal_header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>My Goals</h2>
          <%= render 'form' %>
      </div>
    </div>
  </div>  
</div>

<div class="container">
<div class="wrap">

  <% if @goals.presence %>
    <div class="panel panel-default">
      <% @goals.sort_by{|t| - t.created_at.to_i}.each do |goal| %>
        <% if user_signed_in? && current_user == goal.user %>
          <div class="panel-heading clearfix">
            
            <small class="pull-right"><em> <%= time_ago_in_words(goal.created_at) %> ago </em> </small>
          </div>
    
          <div class="panel-body">
           
            <%= goal.set_goal %>
            <%= goal.met_goal %>

                    <% if goal.met_goal %>
                      <%= link_to goal.set_goal, goal %>

                          <%= link_to goal, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "btn btn-sm btn-default" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                      <% end %>

                    <% else %>
                    <div class="pull-right">
                      <%= link_to edit_goal_path(goal), class: "btn btn-sm btn-default" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                      <% end %>
                      <%= form_for(goal) do |f| %>
                        <span style="display: none;">
                          <%= f.check_box :met_goal, {checked: true} %>
                        </span>
                        <%= f.button(type: 'submit', class: 'btn btn-sm btn-default') do %>
                          <i class="glyphicon glyphicon-ok"></i>
                        <% end %>
                      <% end %>
                    
                      <%= link_to goal, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "btn btn-sm btn-default" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                      <% end %>
                      </div>
                    <% end %>
            
        </div>
        <% end %> 
        <% end %>
      </div>
    
<% end %>

<%= link_to 'New Goal', new_goal_path %>
</div>
</div>


