  <% if current_user %>
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <%= link_to(image_tag("Summarise_logo.png", :alt => "logo", :title => "Home", class: "main_logo"), root_path) %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Track Pages', new_page_path %></li>
                  <li><%= link_to 'Write Summary', new_summary_path %></li>
                  <li><%= link_to 'Set Goal', new_goal_path %></li>
                  <li><%= link_to 'Settings', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
            </div>
        </div>
      </nav>


  <% else %>

      <nav class="navbar welcome-nav">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
              <ul class="nav navbar-nav navbar-right" >
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'What is Summarise?', '#' %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <li><%= link_to 'Login', new_user_session_path %></li>
              </ul>
          </div>
        </div>
      </nav>

  <% end %>
  
  

