<!DOCTYPE html>
<html ng-app="summariseApp">
<head>
  <title>Summarise</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav><%= render 'layouts/navbar' %></nav>
<div><%= render 'layouts/sidebar' %></div>	

<%= yield %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
<script type="text/javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
<script type="text/javascript" src="https://crisbeto.github.io/angular-svg-round-progressbar/roundProgress.min.js"></script>

  <script> 
    var summariseApp = angular.module( "summariseApp", ['ui.bootstrap','angular-svg-round-progress'] );
    summariseApp.controller( "HelloCtrl", [ '$scope', function($scope) {
      $scope.name = "terrence whittaker";
    }]);
  </script>
</body>
</html>
